# Azure
azure-identity
azure-storage-blob

# Data & analys
pandas>=2.2.0
pyarrow>=16.0.0
numpy>=1.26.0
scikit-learn>=1.5.0

# Web & feeds
feedparser
requests>=2.32.0
beautifulsoup4
tqdm>=4.66.0

# AI & språk
openai>=1.40.0
PyYAML>=6.0.1
Jinja2>=3.1.0

# Audio
pydub
ffmpeg-python

# Projektets logik
soccerdata
jsonlines>=4.0.0
