{{ intro }}
Top African performers in the {{ league|title }} today:
{% for p in players %}
- {{ p.name }} ({{ p.club }}): xG {{ p.xg }}, xA {{ p.xa }}, minutes {{ p.minutes }}
{% endfor %}
{{ wrap }}
